.footer.page-footer {
  @include box-shadow(0 -2px 5px 0 $black-opc-016,
                      0 -2px 10px 0 $black-opc-012);
  bottom: -.125rem;
  margin: 0;
  padding: 1.5rem 1rem;
  position: fixed;
  width: 100%;

  a,
  a:hover {
    text-decoration: none;
  }

  .icons-container {
    text-align: center;

    a { margin: 0 .6rem 0 0; }
    a:last-child { margin: 0; }
  }
}

@include media-breakpoint-down(xs) {
  .footer.page-footer {
    padding: 1rem;

    .icons-container {
      @include align-items(center);
      @include display-flex();
      @include flex-direction(row);
      @include flex-pack(start);
      @include flex-wrap(nowrap);
      @include justify-content(space-around);

      a {
        font-size: .8rem;
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .footer.page-footer .icons-container {
    .fa-stack {
      display: inline-block;
      font-size: 1rem;
      height: auto;
      line-height: normal;
      position: relative;
      vertical-align: initial;
      width: auto;
    }

    .fa-stack-2x { display: none; }

    .fa-stack-1x,
    .fa-stack-2x {
      left: auto;
      position: relative;
      text-align: center;
      width: auto;
    }
  }
}
