.navbar {
  background-color: transparent;
  box-shadow: none;
  z-index: 1;

  &.affix { padding: .5rem 1rem; }

  &.scrolling-navbar {
    @include transition(background .5s ease-in-out,
                        padding .5s ease-in-out);
  }

  .navbar-brand {
    color: $white;
    font-family: $marcellus;
    text-transform: uppercase;

    small {
      display: inline-block;
      font-size: .6rem;
      line-height: .59rem;
      white-space: normal;
      width: 3.95rem;
    }
  }

  .navbar-email {
    a {
      font-size: .85rem;
      font-weight: 500;

      &,
      &:hover {
        color: $white;
      }
    }
  }

  div {
    background-color: transparent;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {

    &,
    &.scrolling-navbar {
      padding: 1.2rem 1rem;
    }

    > .container,
    > .container-fluid {
      justify-content: center;
    }

    .navbar-email { display: none; }
  }
}
