.navbar.affix {
  background-color: $cod-gray;
}

header {
  background-color: $dark-whole;
}

.footer.page-footer {
  background-color: $cod-gray;

  .icons-container .fa-inverse {
    color: $cod-gray;
  }
}

@include media-breakpoint-up(sm) {
  .footer.page-footer {
    .icons-container .fa-inverse {
      color: $white;
    }
  }
}
